<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ChallengeServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ChallengeServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44387/ChallengeService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ChallengeServiceSoap"
                contract="ChallengeServiceReference.ChallengeServiceSoap"
                name="ChallengeServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>